.form-add-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.form__textfield:not(button) {
  max-width: 400px;
  min-width: 300px;
  max-height: 100px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: var(--color-question-box);
}

.form__textfield.tag-textfield {
  max-height: 10px;
}

.form__label-textfield {
  font-size: 20px;
}

.form__button {
  max-width: 100px;
  height: 30px;
  font-size: 20px;
  padding: 5px;
  background-color: red;
  border: none;
  border-radius: 15px;
}
