:root {
  --color-question-box: rgb(255, 255, 255);
  --color-body: rgba(61, 134, 45, 0.83);
  --color-header-footer-border: rgba(9, 17, 7, 0.769);
}

/* anaheim-regular - latin */
@font-face {
  font-family: "Anaheim";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/anaheim-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/anaheim-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/anaheim-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/anaheim-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/anaheim-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/anaheim-v14-latin-regular.svg#Anaheim") format("svg"); /* Legacy iOS */
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Anaheim", sans-serif;
}

header:not(.header-button-settings__svg) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid var(--color-header-footer-border);
}

h1 {
  text-align: center;
  font-size: 50px;
}

.header-button-settings__svg {
  position: absolute;
  top: 7px;
  right: 0px;
  width: 46px;
}

body {
  background-color: var(--color-body);
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  height: 100vh;
}

.main-grid {
  position: relative;
  overflow-y: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 20px;
}

.footer-list {
  border-top: 4px solid var(--color-header-footer-border);
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: var(--color-header-backgrnd);
}

.footer-list__items {
  background-color: var(--color-header-backgrnd);
  width: 55px;
  fill: black;
}
