.main-box-question {
  display: grid;
  grid-template-rows: 10px 1fr 1fr 1fr;
  place-items: center;
  text-align: center;
  border-radius: 15px;
  gap: 20px;
  padding: 10px;
  padding-bottom: 20px;
  max-height: 200px;
  background-color: var(--color-question-box);
}

.main-box-question__button {
  font-size: 18px;
  width: 110px;
  padding: 5px;
  text-align: center;
  background-color: var(--color-body);
  border-radius: 10px;
  content: "show answer";
}

.main-box-question__answer {
  font-size: 20px;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

.main-box-question__list {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  gap: 10px;
}

.main-box-question__list-items {
  list-style: none;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2px;
  font-size: 16px;
}

.main-box-question__list-items:hover {
  background-color: rgba(242, 64, 64, 0.45);
  transition: 0.5s cubic-bezier(0.95, 0.05, 0.8, 0.04);
}

.main-box-question__list-items::before {
  content: "#";
}

.main-box-question__bookmarks {
  grid-column: 1;
  justify-self: end;
  fill: rgb(0, 0, 0);
  /* position: absolute; */
  width: 50px;
  /* top: 15px;
  right: 20px; */
}

.main-box-question__bookmarks-toggle {
  background-image: url(/svg/bookmark.svg);
}
