:root {
  --color-header-backgrnd: rgb(184, 19, 11);
  --color-question-box: rgb(255, 255, 255);
  --color-body: rgba(104, 242, 249, 0.454);
}
/* anaheim-regular - latin */
@font-face {
  font-family: "Anaheim";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/anaheim-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/anaheim-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/anaheim-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/anaheim-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/anaheim-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/anaheim-v14-latin-regular.svg#Anaheim") format("svg"); /* Legacy iOS */
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Anaheim", sans-serif;
}

body {
  background-color: var(--color-body);
}

header {
  position: sticky;
  top: 0px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-header-backgrnd);
  height: 50px;
}

h1 {
  text-align: center;
  width: 150px;
  font-size: 40px;
}

.btn_settings img {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 30px;
}

main {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.question_box {
  position: relative;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  width: 380px;
  height: 150px;
  background-color: var(--color-question-box);
}

.bookmarks {
  position: absolute;
  top: -15px;
  right: -5px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0px;
  z-index: 10;
  background-color: rgb(145, 144, 144);
}
